.container {
  max-width: 1200px;
  margin: auto;
}

section {
  padding: 100px 0;
}

label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #808080!important;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  padding-bottom: 64px;
  color: #191919;
}

.commonButton {
  width: 168px;
  height: 52px;
  padding: 14px 32px;
  background: #fd6400;
  border-radius: 30px;
  color: #ffffff;
  border: 0;
}
